@font-face {
    font-family: Sour Gummy;
    src: url(Fonts/SourGummy-VariableFont_wdth,wght.ttf);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
    background-image: url(Images/background.png);
    background-size: contain;
    background-repeat: repeat-y;
    background-color: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    border: none;
    flex-wrap: wrap;
}

img, .boxes a {
    background-color: #506EC3;
    flex: 1 1 0;
    padding: 1rem;
    color: white;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    border-radius: 0.75rem;
    min-height: 30vh;
    max-height: 75vh;
    
}

div {
    gap: 1rem;


    div {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

title, section, script, .showOnMobile, .showOnTablet {
    display: none;
}

section:target {
    display: flex;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    margin: 4vw 4vw 30vh 4vw;
    align-items: center;
    gap: 7.5rem;

    > div, section {
        width: 100%;
        max-width: max(60rem, 70vw);
    }
}

.button, button, .boxes a {
    gap: 0.75rem;
    font-size: 1.25rem;
    width: fit-content;
    flex-direction: row;
    font-weight: 500;
    text-decoration: none;
    border-radius: 0.75rem;
    background-color: #506EC3;
    padding: 0.75rem 1rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    padding-right: 1.125rem;

    img {
        height: 1.5rem;
        width: 1.5rem;
        max-height: unset;
        min-height: unset;
        padding: 0;
        border-radius: 0;
    }
}

.button:hover, button:hover {
    background-color: #6081dc;
    text-decoration: none;
}

.copy:hover img {
    content: url(Icons/copy.svg);
}

.button:active, button:active {
    background-color: #415ca8;
}

h1, h2, h3, .boxes a {
    font-family: Sour Gummy;
    font-size: 2rem;
}

h1 {
    font-size: 3rem;
    line-height: 1.05;
}

h2, .boxes a {
    line-height: 1.25;
    font-size: 2.5rem;

}

h2 {
    padding-bottom: 1rem;
}

h3 {
    padding-top: 5rem;
    padding-bottom: 1rem;
    line-height: 1.25;
    font-weight: 500;
}

p {
    line-height: 1.5;
    font-size: 1.125rem;
}

.navbar {
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.5vw 4vw;
    width: 100vw;
    gap: 2rem;
    align-items: center;
    backdrop-filter: blur(100vw);
    background-color: rgba(239, 247, 250, 0.65);
    z-index: 999;
    background-image: url(Images/background.png);
    background-size: cover;

    a {
        font-size: 1.625rem;
        color: black;
    }

    a:first-child {
        font-family: Sour Gummy;
        font-weight: 700;
        font-size: 2.5rem;
        margin-right: auto;
        text-decoration: none;
    }
}

.splash_page {
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #EFF7FA;
    flex-direction: row;
    padding: 4vw;
    mix-blend-mode: multiply;

    > div {
        flex-direction: column;
        width: 100%;
        max-width: max(30rem, 32.5vw);

        > div {
            flex-direction: row;
            flex-wrap: wrap;
        }

        img {
            background-color: transparent;
            object-fit: contain;
            aspect-ratio: unset;
            max-height: unset;
            min-height: unset;
        }
    }
}

.boxes {
    gap: 1rem;
    flex-direction: row;
    transform: scale(1, -1);
    overflow: hidden;
    

    a {
        background-blend-mode: multiply;
        transform: scale(1, -1);
        flex: 1 1 0;
        width: 100%;
        aspect-ratio: 16/9;
        background-color: #506EC3;
        min-height: 10rem;
        max-height: 30rem;
        text-align: center;
        background-size: cover;
        background-position: center;
        text-shadow: 0 0 1rem #000000;
    }

    .Animation {
    background-image: url(Images/Animation_Cover.jpg);
    }

    .Character_Design {
    background-image: url(Images/Character_Design_Cover.jpg);
    background-color: #7690F2;
    }

    .Story_Boarding {
    background-image: url(Images/Story_Boarding_Cover.jpg);
    background-color: #60A7DD;
    }

    .Sketching {
    background-image: url(Images/Sketching_Cover.jpg);
    background-color: #7BC8E6;
    }

    .Personal_Projects {
    background-image: url(Images/Personal_Projects_Cover.jpg);
    background-color: #7BD5E6;
    }


}

section > div > div {
    transform: scale(1, -1);

    > img {
        transform: scale(1, -1);
        padding: 0;
    }
}

@media (max-width: 1100px) {

    .hideOnTablet {
        display: none;
    }

    .showOnTablet {
        display: flex;
    }
    
    a:hover {
        text-decoration: none;
    }

    .splash_page {
        background-image: url(Images/splash_page_image.png);
        background-repeat: no-repeat;
        background-size: min(110vh, 110vw);
        background-position: top;
        align-items: flex-end;

        > div {
            max-width: max(40rem, 60vw);
            h1, p {
                text-shadow: 0 0 1rem #EFF7FA, 0 0 3rem #EFF7FA;
            }
        }

        > div:last-child {
            display: none;
        }
    }

}

@media (max-width: 725px) {

    .hideOnMobile {
        display: none;
    }

    .showOnMobile {
        display: flex;
    }

    .navbar {
        display: none;
    }
    
}